* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ECECF1;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0fr 1fr;
  background-color: #343541;
}

.sidebar {
  width: 15rem;
  padding: 0.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(32, 33, 35, 1);
  overflow: auto;
}

.sidebar-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  border: 0.05rem solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.sidebar-header:hover {
  background-color: #2B2C2F;
}

.sidebar-history {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.sidebar-history p {
  position: sticky;
  top: 0;
  background-color: rgb(32, 33, 35);
  padding: 0.4rem;
  color: #8E8FA1;
  font-size: 0.8rem;
  font-weight: 600;
}

.sidebar li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 0.5rem;
  padding: 0.5rem;
}

.sidebar-info {
  width: 100%;
  padding-top: 1rem;
  border-top: 0.05rem solid rgba(255, 255, 255, 0.5);
}

.sidebar-info-upgrade,
.sidebar-info-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.sidebar li:hover,
.sidebar-info-upgrade:hover,
.sidebar-info-user:hover {
  background-color: #343541;
  border-radius: 0.3rem;
  cursor: pointer;
}

.sidebar li:active,
.sidebar-info-upgrade:active,
.sidebar-info-user:active {
  background-color: #343541;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.main h1 {
  font-size: 2rem;
}

.main-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
}

.main-header li {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: rgb(68, 70, 85);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
}

.main-header li:nth-child(odd) {
  background-color: unset;
}

.main-header li:nth-child(even) {
  background-color: #444655;
}

.main-header img:not(:nth-child(even)) {
  display: block;
  border-radius: 0.3rem;
  width: 1.8re;
  height: 1.8rem;
}

.main-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-bottom p:first-child {
  padding-top: 0.5rem;
}

.main-bottom p {
  font-size: 0.8rem;
  text-align: center;
  color: #C3C3D1;
}

.form-container {
  padding: 0 1rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  background-color: #404150;
  box-shadow: rgb(0, 0, 0, 0.05) 0 3.3rem 3.4rem,
    rgb(0, 0, 0, 0.05) 0 -0.7rem 1.8rem,
    rgb(0, 0, 0, 0.05) 0 0.2rem 0.3rem,
    rgb(0, 0, 0, 0.05) 0 0.7rem 0.2rem,
    rgb(0, 0, 0, 0.05) 0 0.2rem 0.3rem;
}

.form-container input {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  padding-right: 1rem;
  background-color: #404150;
  outline: none;
  border: none;
}

.form-container input::placeholder {
  color: #8E8FA1;
}

.form-container svg {
  fill: #5F6070;
  transform: rotate(-45deg);
}

.form-container svg:hover {
  fill: #8E8FA1;
}

@media screen and (min-width:1280px) {
  .main-header li {
    margin: 1rem auto;
    width: 745px;
  }
}